<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Node Auth</title>
    
  </head>
  <body>
    <div class="login-form">
      <h3>Home Page</h3>
      <form action="/post" method="POST">

        <div class="input-group">
          <label for="post">Post:</label>
          <input type="text" name="post" />
        </div>

        <button>Add Post</button>
      </form>
    </div>
    <h4>Posts</h4>
    <%postList.forEach(post => {%>
        <h5><%= post.name %></h5>
        <p><%= post.post %></p>
    <%})%>
  </body>
</html>