<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keys | Node Auth</title>
  </head>

  <body>
    <div class="login-form">
      <h3>Home Page</h3>
      <form action="/keys" method="POST">

        <div class="input-group">
          <label for="privateKey">Private Key:</label>
          <input type="text" name="privateKey" />
        </div>

        <button>Send to Server</button>
      </form>
    </div>
    
  </body>
</html>